.app {
}

.quiz-wrapper {
  max-width: 950px;
  min-height: calc(100vh - 52px);
  margin: auto;
}

.header {
  height: 52px;
  padding: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  background-color: #282c34;
  color: white;
}

.header__credits {
  padding-left: 25px;
}

.header a {
  text-decoration: none;
  font-style: italic;
  color: #61dafb;
}

h1 {
  padding: 16px 0 10px 0;
  font-size: 1.5em;
  line-height: 1.2;
  text-align: center;
  color: #444444;
}

.subtitle {
  text-align: center;
  color: #666666;
}

.quiz {
  padding: 16px 30px;
}

.navigation {
  display: flex;
}

.button {
  padding: 10px 12px;
  width: 130px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-standard);
  background-color: var(--font-color-transparent);
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--font-color);
}

.button--navigation-next {
  margin-left: auto;
}

.question {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
}

.question__image {
  padding-right: 50px;
}

.question__data {
  padding: 28px 0 0;
  flex: 1 1 350px;
}

.question__image__number {
  margin: 0 0 14px;
  font-style: italic;
}

.question__image__img {
  display: block;
  width: auto;
  height: 300px;
  margin: auto;
}

.question__data__hint {
  font-style: italic;
  color: #666666;
}

.question__data__variants {
  width: max-content;
  margin: 0;
  padding: 24px 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.answer {
  width: 100%;
  padding: 0;
  border: none;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
}

.answer button {
  width: 100%;
  padding: 10px;
  border: none;
  text-align: left;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
}

.answer:hover button {
  background-color: gray;
}

.answer.right button {
  background-color: yellow;
}

.answer.wrong button {
  background-color: red;
}

.description {
  margin: 10px 0;
  line-height: 1.6;
  font-style: italic;
}

.description__title {
  margin: 0 0 8px 0;
  font-weight: bold;
}

.result-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result, .no-result {
  margin-bottom: 2em;
  font-weight: bold;
}

@media only screen and (min-width: 950px) {
  h1 {
    font-size: 2em;
  }

  .quiz {
    padding: 16px;
  }

  .question__image__img {
    height: 380px;
  }
  
  .navigation-bottom {
    display: none;
  }
}
