.App {
}

.header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  color: white;
  max-width: 1024px;
  margin: auto;
}

.header__title {
  margin: 0;
  padding-left: 12px;
  color: white;
}

.header__credits {
  margin-left: auto;
  margin-right: 12px;
  font-size: 12px;
}

h1 {
  font-size: 100%;
  line-height: 1.2;
  text-align: center;
  color: #444444;
  margin: 0.4em 0 0 0;
}

.quiz-container {
  max-width: 1024px;
  margin: auto;
  padding: 16px;
}

.navigation {
  display: flex;
}

.prev, .next {
  padding: 6px 12px;
  border: 1px solid gray;
  width: 100px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.next {
  margin-left: auto;
}

.prev:hover, .next:hover {
  background-color: gray;
  color: white;
}

.question__number {
  margin: 12px 0 4px;
}

.question__image {
  display: block;
  width: auto;
  height: 300px;
  margin: auto;
  opacity: 0;
}

.visible {
  animation-name: makevisible;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes makevisible {
  from {opacity: 0;}
  to {opacity: 1;}
}

.question__hint {
  margin: 4px 0 0 0;
  font-style: italic;
  color: #666666;
}

.question__variants {
  list-style-type: none;
  margin: 0;
  padding: 16px 0;
}

.answer {
  padding: 6px;
  cursor: pointer;
}

.answer:hover {
  background-color: gray;
}

.answer.right {
  background-color: yellow;
}

.answer.wrong {
  background-color: red;
}

.description {
  border: 1px solid gray;
  margin: 0 0 1em;
  padding: 12px;
}

.description__title {
  margin: 0 0 16px 0;
  padding: 6px;
  font-weight: bold;
  background-color: yellow;
}

.result, .no-result {
  margin-top: 2em;
  text-align: center;
  font-weight: bold;
}

.button-reset {
  width: 8em;
  margin: 2em auto 6em;
  padding: 6px;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
}

.button-reset:hover {
  background-color: gray;
  color: white;
}

@media only screen and (min-width: 700px) {
  header {
    padding: 12px 0;
  }

  .header__title {
    font-size: 120%;
  }

  h1 {
    font-size: 120%;
  }

  .question__image {
    height: 380px;
  }
  
  .navigation-bottom {
    display: none;
  }
}
